* {
  box-sizing: border-box;
}


/* landing page */
.home-header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 8vw;
  letter-spacing: 5vw;
}

.my-position {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vw;
}

.start-button {
  font-family: 'Aldrich', sans-serif;
  font-size: 1.3vw;
}


/* navigation menu */

.main-menu {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-container {
  list-style: none;
  height: 70vh;
  width: 70vw;
  display: grid;
  grid-template-rows: repeat(1fr, 4);
  grid-template-areas: "about"
                       "work"
                       "skills"
                       "contact"
}

.work {
  height: 100vh;
  height: 100vw;
  display: grid;
  grid-template: 45vh 45vh 10vh / 1fr 1fr;
}

.about {
  height: 100vh;
  width: 100wv;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.about > section {
  width: 70vw;
}